# Лабораторна робота № 3. Терещенко Олексій.

## Прийняття рішень в умовах ризику

Варіант: 19

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

pd.set_option("display.precision", 2)

In [ ]:
items_data = [
    (1, "Блайзер",        0.5,  6),
    (2, "Зимова куртка",  4.0, 48),
    (3, "Пухові штани",   2.0, 24),
    (4, "В’єтнамки",      0.5,  6),
    (5, "Джинси",         1.0, 12),
    (6, "Кепка",          0.5,  6),
    (7, "Кросівки",       1.0, 12),
    (8, "Куртка",         2.0, 24),
    (9, "Пальто",         3.0, 36),
    (10, "Рукавички",     0.5,  6),
    (11, "Светр",         1.0, 12),
    (12, "Сорочка",       0.5,  6),
    (13, "Футболка",      0.5,  6),
    (14, "Черевики",      1.5, 18),
    (15, "Чоботи",        2.0, 24),
    (16, "Шапка",         1.0, 12),
    (17, "Шорти",         0.5,  6),
]

items_cols = ["id", "name", "weight_kg", "price"]
items_df = pd.DataFrame(items_data, columns=items_cols).set_index("id")

sets_data = [
    (1, "< -10",  ["Шапка", "Зимова куртка", "Рукавички", "Пухові штани", "Чоботи"],           9.5),
    (2, "-9..0",  ["Шапка", "Пальто", "Рукавички", "Джинси", "Чоботи"],                       7.5),
    (3, "1..10",  ["Кепка", "Куртка", "Джинси", "Черевики"],                                  5.0),
    (4, "11..20", ["Светр", "Джинси", "Кросівки"],                                            3.0),
    (5, "21..30", ["Блайзер", "Сорочка", "Джинси", "Кросівки"],                               3.0),
    (6, "30+",    ["Блайзер", "Футболка", "Шорти", "В’єтнамки"],                              2.0),
]

sets_df = pd.DataFrame(sets_data, columns=["set_id", "temp_range", "items", "weight_kg"]).set_index("set_id")

BAGGAGE_COST_PER_KG = 10.0
sets_df["baggage_cost"] = sets_df["weight_kg"] * BAGGAGE_COST_PER_KG

item_name_to_id = {row["name"]: idx for idx, row in items_df.reset_index().iterrows()}
set_items_ids = {
    set_id: [item_name_to_id[name] for name in row["items"]]
    for set_id, row in sets_df.iterrows()
}

print("Таблиця 3.3 – Елементи одягу:")
display(items_df)

print("\nТаблиця 3.4 – Набори одягу (стратегії):")
display(sets_df)

Таблиця 3.3 – Елементи одягу:

             name  weight_kg  price
id
1         Блайзер        0.5      6
2   Зимова куртка        4.0     48
3    Пухові штани        2.0     24
4       В’єтнамки        0.5      6
5          Джинси        1.0     12
6           Кепка        0.5      6
7        Кросівки        1.0     12
8          Куртка        2.0     24
9          Пальто        3.0     36
10      Рукавички        0.5      6
11          Светр        1.0     12
12        Сорочка        0.5      6
13       Футболка        0.5      6
14       Черевики        1.5     18
15         Чоботи        2.0     24
16          Шапка        1.0     12
17          Шорти        0.5      6

Таблиця 3.4 – Набори одягу (стратегії):

,temp_range,items,weight_kg,baggage_cost
set_id,,,,
1,< -10,"[Шапка, Зимова куртка, Рукавички, Пухові штани...",9.5,95.0
2,-9..0,"[Шапка, Пальто, Рукавички, Джинси, Чоботи]",7.5,75.0
3,1..10,"[Кепка, Куртка, Джинси, Черевики]",5.0,50.0
4,11..20,"[Светр, Джинси, Кросівки]",3.0,30.0
5,21..30,"[Блайзер, Сорочка, Джинси, Кросівки]",3.0,30.0
6,30+,"[Блайзер, Футболка, Шорти, В’єтнамки]",2.0,20.0

In [ ]:
months = [
    "Січень", "Лютий", "Березень", "Квітень",
    "Травень", "Червень", "Липень", "Серпень",
    "Вересень", "Жовтень", "Листопад", "Грудень",
]

avg_temp_C = np.array([-17, -17, -10, 3, 13, 18, 20, 18, 12, 3, -7, -14], dtype=float)

months_df = pd.DataFrame({
    "month": months,
    "avg_temp_C": avg_temp_C,
})

print("Середньомісячні температури для Астани (варіант 19):")
display(months_df)

Середньомісячні температури для Астани (варіант 19):

       month  avg_temp_C
0     Січень       -17.0
1      Лютий       -17.0
2   Березень       -10.0
3    Квітень         3.0
4    Травень        13.0
5    Червень        18.0
6     Липень        20.0
7    Серпень        18.0
8   Вересень        12.0
9    Жовтень         3.0
10  Листопад        -7.0
11   Грудень       -14.0

In [ ]:
PURCHASE_MARKUP = 2.0

def temp_to_set(temp: float) -> int:
    if temp <= -10:
        return 1
    elif -9 <= temp <= 0:
        return 2
    elif 1 <= temp <= 10:
        return 3
    elif 11 <= temp <= 20:
        return 4
    elif 21 <= temp <= 30:
        return 5
    else:
        return 6

months_df["required_set"] = months_df["avg_temp_C"].apply(temp_to_set)

print("Місяці з відповідними оптимальними наборами одягу (за температурою):")
display(months_df)


def compute_purchase_cost(chosen_set_id: int,
                          required_set_id: int,
                          items_df: pd.DataFrame,
                          set_items_ids: dict,
                          price_multiplier: dict | None = None,
                          markup: float = PURCHASE_MARKUP) -> float:
    have_items = set(set_items_ids[chosen_set_id])
    need_items = set(set_items_ids[required_set_id])
    to_buy = need_items - have_items

    total = 0.0
    for item_id in to_buy:
        base_price = items_df.loc[item_id, "price"]
        if price_multiplier and item_id in price_multiplier:
            base_price = base_price * price_multiplier[item_id]
        total += base_price + markup
    return total


def compute_total_cost_matrix(items_df: pd.DataFrame,
                              sets_df: pd.DataFrame,
                              set_items_ids: dict,
                              months_df: pd.DataFrame,
                              price_multiplier: dict | None = None) -> pd.DataFrame:
    data = {}
    for _, month_row in months_df.iterrows():
        month_name = month_row["month"]
        required_set = month_row["required_set"]
        col_values = []
        for set_id, set_row in sets_df.iterrows():
            baggage_cost = set_row["baggage_cost"]
            purchase_cost = compute_purchase_cost(
                chosen_set_id=set_id,
                required_set_id=required_set,
                items_df=items_df,
                set_items_ids=set_items_ids,
                price_multiplier=price_multiplier,
            )
            col_values.append(baggage_cost + purchase_cost)
        data[month_name] = col_values

    cost_df = pd.DataFrame(data, index=sets_df.index)
    cost_df.index.name = "strategy (set) x_i"
    return cost_df

Місяці з відповідними оптимальними наборами одягу (за температурою):

       month  avg_temp_C  required_set
0     Січень       -17.0             1
1      Лютий       -17.0             1
2   Березень       -10.0             1
3    Квітень         3.0             3
4    Травень        13.0             4
5    Червень        18.0             4
6     Липень        20.0             4
7    Серпень        18.0             4
8   Вересень        12.0             4
9    Жовтень         3.0             3
10  Листопад        -7.0             2
11   Грудень       -14.0             1

In [ ]:
base_cost_matrix = compute_total_cost_matrix(
    items_df=items_df,
    sets_df=sets_df,
    set_items_ids=set_items_ids,
    months_df=months_df,
)

base_cost_matrix = base_cost_matrix[months_df["month"].tolist()]

print("Матриця повних витрат використання наборів (стратегії x_i × місяці):")
display(base_cost_matrix)

Матриця повних витрат використання наборів (стратегії x_i × місяці):

,Січень,Лютий,Березень,Квітень,Травень,Червень,Липень,Серпень,Вересень,Жовтень,Листопад,Грудень
strategy (set) x_i,,,,,,,,,,,,
1,95.0,95.0,95.0,139.0,119.0,119.0,119.0,119.0,119.0,139.0,129.0,95.0
2,133.0,133.0,133.0,111.0,91.0,91.0,91.0,91.0,91.0,111.0,75.0,133.0
3,192.0,192.0,192.0,50.0,66.0,66.0,66.0,66.0,66.0,50.0,160.0,192.0
4,172.0,172.0,172.0,66.0,30.0,30.0,30.0,30.0,30.0,66.0,140.0,172.0
5,172.0,172.0,172.0,66.0,38.0,38.0,38.0,38.0,38.0,66.0,140.0,172.0
6,162.0,162.0,162.0,64.0,44.0,44.0,44.0,44.0,44.0,64.0,138.0,162.0

In [ ]:
p_uniform = np.full(12, 1/12)  # p_j = 1/12

expected_costs_uniform = base_cost_matrix.values.dot(p_uniform)
expected_uniform_series = pd.Series(
    expected_costs_uniform,
    index=base_cost_matrix.index,
    name="E[cost] (uniform 12 months)",
)

print("Очікувані витрати (рівноймовірний місяць):")
display(expected_uniform_series.to_frame())

best_uniform = expected_uniform_series.idxmin()
best_uniform_value = expected_uniform_series.min()
print(f"Найкраща стратегія для рівноймовірного повернення: x{best_uniform}, "
      f"очікувані витрати = {best_uniform_value:.2f} у.о.")

Очікувані витрати (рівноймовірний місяць):

                    E[cost] (uniform 12 months)
strategy (set) x_i
1                                        115.17
2                                        107.00
3                                        113.17
4                                         92.50
5                                         95.83
6                                         94.50

Найкраща стратегія для рівноймовірного повернення: x4, очікувані витрати = 92.50 у.о.

In [ ]:
p_winter = np.array([1/3, 1/3, 0,   0,   0,   0,   0,   0,   0,   0,   0,   1/3])
p_spring = np.array([0,   0,   1/3, 1/3, 1/3, 0,   0,   0,   0,   0,   0,   0])
p_summer = np.array([0,   0,   0,   0,   0,   1/3, 1/3, 1/3, 0,   0,   0,   0])
p_autumn = np.array([0,   0,   0,   0,   0,   0,   0,   0,   1/3, 1/3, 1/3, 0])

season_probs = {
    "Зима": p_winter,
    "Весна": p_spring,
    "Літо": p_summer,
    "Осінь": p_autumn,
}

season_results = [] 
for season_name, p in season_probs.items():
    expected = base_cost_matrix.values.dot(p)
    expected_series = pd.Series(
        expected,
        index=base_cost_matrix.index,
        name=f"E[cost] ({season_name})",
    )
    print(f"\n=== {season_name} ===")
    display(expected_series.to_frame())
    best_set = expected_series.idxmin()
    best_value = expected_series.min()
    print(f"Найкраща стратегія для сезону '{season_name}': x{best_set}, "
          f"очікувані витрати = {best_value:.2f} у.о.")
    season_results.append((season_name, expected_series))

=== Зима ===

                    E[cost] (Зима)
strategy (set) x_i
1                             95.0
2                            133.0
3                            192.0
4                            172.0
5                            172.0
6                            162.0

Найкраща стратегія для сезону 'Зима': x1, очікувані витрати = 95.00 у.о.

=== Весна ===

                    E[cost] (Весна)
strategy (set) x_i
1                            117.67
2                            111.67
3                            102.67
4                             89.33
5                             92.00
6                             90.00

Найкраща стратегія для сезону 'Весна': x4, очікувані витрати = 89.33 у.о.

=== Літо ===

                    E[cost] (Літо)
strategy (set) x_i
1                            119.0
2                             91.0
3                             66.0
4                             30.0
5                             38.0
6                             44.0

Найкраща стратегія для сезону 'Літо': x4, очікувані витрати = 30.00 у.о.

=== Осінь ===

                    E[cost] (Осінь)
strategy (set) x_i
1                            129.00
2                             92.33
3                             92.00
4                             78.67
5                             81.33
6                             82.00

Найкраща стратегія для сезону 'Осінь': x4, очікувані витрати = 78.67 у.о.

In [ ]:
a = 1/18
p_winter3 = np.array([
    3*a,  # Jan
    3*a,  # Feb
    a,    # Mar
    a,    # Apr
    a,    # May
    a,    # Jun
    a,    # Jul
    a,    # Aug
    a,    # Sep
    a,    # Oct
    a,    # Nov
    3*a,  # Dec
])
print("Перевірка суми ймовірностей (має бути 1):", p_winter3.sum())

expected_winter3 = base_cost_matrix.values.dot(p_winter3)
expected_winter3_series = pd.Series(
    expected_winter3,
    index=base_cost_matrix.index,
    name="E[cost] (winter x3)",
)

print("Очікувані витрати (зима втричі ймовірніша за інші місяці):")
display(expected_winter3_series.to_frame())

best_winter3 = expected_winter3_series.idxmin()
best_winter3_value = expected_winter3_series.min()
print(f"Найкраща стратегія (зима втричі ймовірніша): x{best_winter3}, "
      f"очікувані витрати = {best_winter3_value:.2f} у.о.")

Перевірка суми ймовірностей (має бути 1): 1.0
Очікувані витрати (зима втричі ймовірніша за інші місяці):

                    E[cost] (winter x3)
strategy (set) x_i
1                                108.44
2                                115.67
3                                139.44
4                                119.00
5                                121.22
6                                117.00

Найкраща стратегія (зима втричі ймовірніша): x1, очікувані витрати = 108.44 у.о.

In [ ]:
days_in_month = np.array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31], dtype=float)
p_days = days_in_month / days_in_month.sum()
print("Перевірка суми ймовірностей (має бути 1):", p_days.sum())

expected_days = base_cost_matrix.values.dot(p_days)
expected_days_series = pd.Series(
    expected_days,
    index=base_cost_matrix.index,
    name="E[cost] (by days in month)",
)

print("Очікувані витрати (ймовірності за кількістю днів у місяці):")
display(expected_days_series.to_frame())

best_days = expected_days_series.idxmin()
best_days_value = expected_days_series.min()
print(f"Найкраща стратегія (за кількістю днів): x{best_days}, "
      f"очікувані витрати = {best_days_value:.2f} у.о.")

Перевірка суми ймовірностей (має бути 1): 0.9999999999999999
Очікувані витрати (ймовірності за кількістю днів у місяці):

                    E[cost] (by days in month)
strategy (set) x_i
1                                       115.21
2                                       106.95
3                                       112.82
4                                        92.13
5                                        95.48
6                                        94.19

Найкраща стратегія (за кількістю днів): x4, очікувані витрати = 92.13 у.о.

In [ ]:
discount_item_ids = [2, 4, 9, 15, 16]
price_multiplier = {item_id: 1/3 for item_id in discount_item_ids}

discount_cost_matrix = compute_total_cost_matrix(
    items_df=items_df,
    sets_df=sets_df,
    set_items_ids=set_items_ids,
    months_df=months_df,
    price_multiplier=price_multiplier,
)

discount_cost_matrix = discount_cost_matrix[months_df["month"].tolist()]

print("Матриця витрат при зменшених цінах на частину речей:")
display(discount_cost_matrix)

expected_discount = discount_cost_matrix.values.dot(p_uniform)
expected_discount_series = pd.Series(
    expected_discount,
    index=discount_cost_matrix.index,
    name="E[cost] (uniform, discounted prices)",
)

print("Очікувані витрати при зменшених цінах:")
display(expected_discount_series.to_frame())

best_discount = expected_discount_series.idxmin()
best_discount_value = expected_discount_series.min()
print(f"Найкраща стратегія при зменшених цінах: x{best_discount}, "
      f"очікувані витрати = {best_discount_value:.2f} у.о.")

Матриця витрат при зменшених цінах на частину речей:

,Січень,Лютий,Березень,Квітень,Травень,Червень,Липень,Серпень,Вересень,Жовтень,Листопад,Грудень
strategy (set) x_i,,,,,,,,,,,,
1,95.0,95.0,95.0,135.0,115.0,115.0,115.0,115.0,115.0,135.0,125.0,95.0
2,101.0,101.0,101.0,111.0,91.0,91.0,91.0,91.0,91.0,111.0,75.0,101.0
3,120.0,120.0,120.0,50.0,66.0,66.0,66.0,66.0,66.0,50.0,120.0,120.0
4,100.0,100.0,100.0,66.0,30.0,30.0,30.0,30.0,30.0,66.0,100.0,100.0
5,100.0,100.0,100.0,66.0,38.0,38.0,38.0,38.0,38.0,66.0,100.0,100.0
6,90.0,90.0,90.0,60.0,40.0,40.0,40.0,40.0,40.0,60.0,94.0,90.0

Очікувані витрати при зменшених цінах:

                    E[cost] (uniform, discounted prices)
strategy (set) x_i
1                                                 112.50
2                                                  96.33
3                                                  85.83
4                                                  65.17
5                                                  68.50
6                                                  64.50

Найкраща стратегія при зменшених цінах: x6, очікувані витрати = 64.50 у.о.

In [ ]:
summary_rows = []

summary_rows.append({
    "№": 1,
    "Назва завдання": "За 12-ть місяців (рівноймовірно)",
    "Найкраща стратегія x_i": f"x{best_uniform}",
    "Мінімальні очікувані витрати": round(best_uniform_value, 2),
})

name_to_number = {
    "Зима": 2,
    "Весна": 3,
    "Літо": 4,
    "Осінь": 5,
}
for season_name, expected_series in season_results:
    best_set = expected_series.idxmin()
    best_value = expected_series.min()
    summary_rows.append({
        "№": name_to_number[season_name],
        "Назва завдання": season_name,
        "Найкраща стратегія x_i": f"x{best_set}",
        "Мінімальні очікувані витрати": round(best_value, 2),
    })

summary_rows.append({
    "№": 6,
    "Назва завдання": "Зима (ймовірність втричі більша)",
    "Найкраща стратегія x_i": f"x{best_winter3}",
    "Мінімальні очікувані витрати": round(best_winter3_value, 2),
})

summary_rows.append({
    "№": 7,
    "Назва завдання": "За 12-ть місяців (за кількістю днів)",
    "Найкраща стратегія x_i": f"x{best_days}",
    "Мінімальні очікувані витрати": round(best_days_value, 2),
})

summary_rows.append({
    "№": 8,
    "Назва завдання": "За 12-ть місяців (зменшена вартість речей)",
    "Найкраща стратегія x_i": f"x{best_discount}",
    "Мінімальні очікувані витрати": round(best_discount_value, 2),
})

summary_df = pd.DataFrame(summary_rows).set_index("№").sort_index()

print("Підсумкова таблиця 3.7 – результати визначення найкращих стратегій:")
display(summary_df)

Підсумкова таблиця 3.7 – результати визначення найкращих стратегій:

,Назва завдання,Найкраща стратегія x_i,Мінімальні очікувані витрати
№,,,
1,За 12-ть місяців (рівноймовірно),x4,92.50
2,Зима,x1,95.00
3,Весна,x4,89.33
4,Літо,x4,30.00
5,Осінь,x4,78.67
6,Зима (ймовірність втричі більша),x1,108.44
7,За 12-ть місяців (за кількістю днів),x4,92.13
8,За 12-ть місяців (зменшена вартість речей),x6,64.50